<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMS Portal</title>
    
    <!-- CSS Includes -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/application.css" rel="stylesheet" />
    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body oncontextmenu="return false;">
    <div id="sb-site">
        @* <partial name="_OnlineUsersSidebar" /> *@
        @* <partial name="_CloudStatusSidebar" /> *@
        
        <div id="page-wrapper">
            @* <partial name="_Header" /> *@
            @* <partial name="_Sidebar" /> *@
            
            <div id="page-content-wrapper">
                <div id="page-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript Includes -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/theme.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>